.cart-item{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;
	max-width: 1136px;
	padding-bottom: 24px;
}
.detail{
	padding-left: 20px;
	width: 50%;
}
.price{
	float: right !important;
	display: block;
	text-align: end;
	width: 30%;
	font-weight: 600;
	font-size: 24px;
}
select{
	width: 11%;
}
.order-detail{
	display: grid;
}
.order-amount{
	text-align: right;
	float: right;
}
.item{
	color:#282828;
	font-weight: 500;
}
.total{
	border-bottom: 1px solid rgba(0,0,0,.12);
	border-top: 1px solid rgba(0,0,0,.12);
	margin-top: 24px;
	padding: 8px 0;
}
.checkout{
	margin-top: 8px;
}
.checkout-btn{
	font-size: 12px;
	font-weight: 400;
	justify-content: center;
	padding: 12px 10px;
	text-transform: uppercase;
	width: 100%;
	background: #212121;
    border: 1px solid #212121;
		color: white;
		border-radius: 500px;

}
.checkout-btn:hover{
	background: white;
	color: #212121;
}
.product-remove{
	color: #4f5255;
    cursor: pointer;
    margin-right: 16px;
    text-decoration: underline;
}
.title{
	font-weight: 600;
	font-size: 24px;
}
.option{
	display: block;
}
.cart-header{
	display: block
}
.product-clear{
	text-align: right;
	float: right;
}