.page-content{
	padding-left: 25px
}
.headLink{
	color: black;
	padding-bottom: 25px;
}
.link{
	color: black;
}
.link:hover{
	color: black;
}
.selected{
	text-decoration: underline;
}
.addressInput{
	padding: 7px;
}
.details{
	font-size: 15px;
	color:#4f5255;
}
.cart-item{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4px;
	max-width: 1136px;
	padding-bottom: 4px;
}
.actions{
	padding-left: 7px;
	padding-top: 15px;
	display: block;
  flex-direction: row;
	width: 100%;
}
.checkout-btn-text{
	padding: 20px 20px;
}
.submit-btn{
	text-align: right;
	float: right;
}