.footer-desktop{
	background: linear-gradient(0deg, #F5F7F6, #F5F7F6), #FFFFFF;
	padding-top: 62px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	.col1{
		display: flex;
	}
	.containing{
		width: 1189px;
		background: #FFFFFF;
		padding-left: 40px;
		padding-top: 54px;
		.nav{
			position: flex;
			justify-content: space-around;
			.nav-item{
				.title{
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 0.125em;
					color: #000000;
					margin-bottom: 31px;
				}
				.text{
					font-size: 14px;
					color: #5F5F5F;
					margin-bottom: 16px;
				}
			}
		}
		.payments{
			display: flex;
			margin-top: 20px;
			padding-left: 65px;
			img{
				margin-right: 9px;
			}
		}
	}
	.followUs{
		padding-left: 60px;
		padding-top: 54px;
		.title{
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 0.125em;
			color: #000000;
			margin-bottom: 31px;
		}
		.text{
			margin-bottom: 16px;
			span{
				font-size: 12px;
				color: #5F5F5F;
				margin-right: 9px;
			};
		}
	}
	.copyright{
		padding-left: 89.14px;
		padding-top: 21.28px;
		padding-bottom: 25.72px;
		font-size: 12px;
		color: #575F61;
	}
	
}