header{
	background-color: #fff;
}
.main-content{
	padding: 150px 50px 50px 50px;
	background-color: rgba(38,89,156,.06);
}
.page-content{
	background-color: #fff;
}
.containing{
	position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: 100%;
	height: 60px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
  z-index: 100;
}
.categories{
	align-items: center;
	display: flex;
}
.categoriesItems{
	border-bottom: 2px solid transparent;
    height: 100%;
   padding-left: 20px;
	 font-family: Lato,sans-serif;
	 font-weight: 600;
	 font-size: 20px;
	 cursor: pointer;

}
.navigation ul {
	text-align: left;
	display: inline;
	margin: 0;
	list-style: none;
}
.navigation ul li {
	font-size:18px;
	font-weight:300;
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 15px 20px;
	background: #2a3042;
	color:#fff;
	cursor: pointer;
}
.navigation ul li:hover {
	background: #4f5255;
}
.navigation ul li ul {
	padding: 0;
	position: absolute;
	top: 60px;
	left: 0;
	width: 250px;
	display: none;
	opacity: 0;
	visibility: hidden;
}
.navigation ul li ul li { 
	background: #2a3042; 
	display: block; 
	color: #fff;
}
.navigation ul li ul li:hover { background: #4f5255; }
.navigation ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}
a{
	color: black;
}
.auth{
	color: black;
}
.auth span + a {
	padding-left: 10px;
}
.auth a + span {
	padding-left: 10px;
}
.close{
	align-items: center;
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: center;
    position: absolute;
    right: 18px;
    top: 18px;
    width: 36px;
}
.login-input{
	background: #f5f7f6;
	border: 1px solid #f5f7f6;
	border-radius: 24px;
	box-sizing: border-box;
	color: #212121;
	min-width: 100%;
	padding: 12px 16px;
}
.login-error{
	padding: 12px 17px;
	color: red;
}
.form-button{
	margin-bottom: 18px;
    text-align: center;
}
.form-button .checkout-btn{
	width: 30%
}
.form-bottom{
	color: #4f5255;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}
.form-bottom .register{
	cursor: pointer;
	text-decoration: underline;
	background: transparent;
	color: #000;
}
.loginLogo{
	display: flex;
	justify-content: center;
	margin: 18px 0 36px;
}
form h1{
	color: #4f5255;
	font-size: 36px;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 36px;
	margin-top: 0;
	text-align: center;
}
.squash{
	display: none;
}